core/src/test/resources/wsdl/hello.wsdl

<?xml version="1.0"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:qr="http://qontract.run/SOAPService/"
                  targetNamespace="http://qontract.run/SOAPService/">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    targetNamespace="http://qontract.run/SOAPService/">
            <xsd:element name="SimpleRequest" type="xsd:string"/>
            <xsd:element name="SimpleResponse" type="xsd:string"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="simpleInputMessage">
        <wsdl:part name="simpleInputPart" element="qr:SimpleRequest"/>
    </wsdl:message>
    <wsdl:message name="simpleOutputMessage">
        <wsdl:part name="simpleOutputPart" element="qr:SimpleResponse"/>
    </wsdl:message>

    <wsdl:portType name="simplePortType">
        <wsdl:operation name="SimpleOperation">
            <wsdl:input name="simpleInput"
                        message="qr:simpleInputMessage"/>
            <wsdl:output name="simpleOutput"
                         message="qr:simpleOutputMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="simpleBinding" type="qr:simplePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SimpleOperation">
            <soap:operation
                    soapAction="http://qontract.run/SOAPService/SimpleOperation"/>
            <wsdl:input name="simpleInput">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="simpleOutput">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="simpleService">
        <wsdl:port name="simplePort" binding="qr:simpleBinding">
            <soap:address
                    location="http://qontract.run/SOAPService/SimpleSOAP"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>